label {
    display: block;
}

.active {
    background: rebeccapurple;
}

.preco {
    width: 6em;
    margin: 0 16px;
}

form {
    padding: 0 16px;
}

table {
    width: 100%;
}

.mat-column-preco, .mat-column-acoes {
    text-align: right;
}