body {
    background: #dfe6e9;
    color: #00b894;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 3rem;
}

.input-name {
    width: 300px;
    height: 30px;
    background: transparent;
    border: none;
    color: #00b894;
    font-size: 22px;
    border: 1px solid #00b894;
    border-radius: 0.8rem;
    padding: 10px;
    outline: none;
    position: relative;
    width: 80%;
    text-align: center;
}

.input-name::after {
    content: " - Remember this";
    background: tomato;
}

.div-input-name {
    display: flex;
    justify-content: center;
}

.div-all-filters {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.div-all-filters label {
    font-size: 20px;
}

.div-counter-dev {
    margin-top: 40px;
    justify-content: center;
    display: flex;
    font-size: 48px;
}

.render-people {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px 50px 50px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.person {
    display: flex;
    font-size: 18px;
    font-weight: 600;
}
.person > img{
    border-radius: 50%;
}

.person span {
    margin: auto 5px auto 5px;
}

.div-person-name-skills {
    display: flex;
    flex-direction: column;
}

.div-person-skills {
    margin: 5px;
}

.div-person-skills img:nth-child(1) {
    margin: 0 5px 0 5px;
}
