<app-galeria-component titulo="Fotos de animais" [pictures]="[
'https://images.unsplash.com/photo-1564349683136-77e08dba1ef7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80',
'https://images.unsplash.com/photo-1574870111867-089730e5a72b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80',
'https://images.unsplash.com/photo-1534759846116-5799c33ce22a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=688&q=80',
'https://images.unsplash.com/photo-1574241298650-74e9f3649c60?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjExMzk2fQ&auto=format&fit=crop&w=631&q=80',
'https://images.unsplash.com/photo-1530090382228-7195e08d7a75?ixlib=rb-1.2.1&auto=format&fit=crop&w=692&q=80'
]"></app-galeria-component>

<app-galeria-component titulo="Fotos de pessoas" [pictures]="[]">

</app-galeria-component>
